/* background */
#backgroundVid {
    background-position: 100%;
    z-index: -300;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  
}
#overlay {
    position: fixed;  
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;    
}
/* header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 10;
    background-image: linear-gradient(black,red, yellow, blue);
    
  }
  

/* title name and images*/
.title {
    position: relative;
    font-family: 'Noto Serif', serif;
    font-size: 3.1rem;
    margin-left: 600px;
    color:black;
    left: 10px;
    
    
}
.header_content-text {
    font-size: 50px;
}
.headerImg {
    display: inline;
    height:95px;
    width: 95px;
}
/* button*/
#upload {
    position: relative;
    top: 330px;
    left: 380px;
}
/* each section header and body*/
.card {
    margin: 20px;
}
  /*footer*/
  footer {
    height: 50px;
    position: relative;
    bottom:0px;
    width:100%;
    left: 680px;
    /* background-image: linear-gradient(black,red, yellow, blue); */
}