header {
    width: 100%;
    background-color:#ff1b1b;
}
#backgroundVid {
    background-position: 100%;
    z-index: -300;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  
}
#overlay {
    position: fixed;  
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;    
}
.view {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -30;
}
.title {
    font-family: 'K2D', sans-serif;
    font-size: 3.1rem;
    margin-left: 600px;
    color:whitesmoke;
    
}
/* #upload {
    top: 50px;
    right: 100px;
 } */
/* #upload_widget_opener {
   float:right;
} */
button {
    float: right;
}
.headerImg {
    display: inline;
    height:40px;
    width: 40px;
}

body {
    background-image: url('./images/dark-grey-terrazzo.png');
    background-color: red;
 }

.photoContainer {
    position: relative;
}
h1 {
    margin: 5px;
}
.item {
    position: relative;
}

.placeholder {
    margin-top: 75px;
    border-radius: 50%;
    border: 1px solid grey;
    height: 380px;
    width: 380px;
    margin-left: 300px;
}

.btn {
    position: absolute;
    left: 49%;
    margin-left: -84px;
    bottom: 125px;
    border-radius: 8px;

}
.container {
    zoom: 89%;
}

.otherAttributes {
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid grey;
    margin-bottom: 25px;
    text-align: left;
    height: 150px;
    width: 100%;
}

.card {
    margin: 20px;
}
  }