#overlay {
    /* position: relative;   */
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 0;    
}
/* header*/
.bg-light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 10;
    background-image: linear-gradient(black, red);
    padding: 10px;
  }

/* title name and images*/
.navbar-light .navbar-brand {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.1rem;
    margin-left: 600px;
    color: white;
    left: 25px;
}
.header_content-text {
    font-size: 38px;
    color: white;
    text-shadow: 3px 0 black, 0 4px black, 3px 0 black, 0 4px black;
    position: relative;
    text-align: center;
    background-image: linear-gradient(black, red);
}
.headerImg {
    display: inline;
    height:65px;
    width: 65px;
    padding: 5px;
}
p {
    font-size: 24px;
}
/* button*/
button {
    height: 100px;
    padding: 12px;
    background-color: yellow;
    border: 2px solid blue;
}
#upload {
    background-color: black;
    text-align: center;
    
}
#title {
    text-decoration: none;
    color: white;
    
}

/* background */
#backgroundVid {
    background-position: 100%;
    z-index: -300;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  
}
/* each section header and body*/
.card {
    margin: 20px;
}


  /*footer*/
  footer {
    height: 50px;  
    width:100%;
    text-align: center;
    background-image: linear-gradient(red, black);
    color: whitesmoke;
    text-shadow: 3px 0 black, 0 4px black, 3px 0 black, 0 4px black;
    /* background-image: linear-gradient(black,red, yellow, blue); */
}
.db {
    display: none;
}

#resultTop, #resultBottom {
    color: white;
    background-color: black;
}

body {
    background-color: black;
}

br {
    background-color: black;
}
.CloseButton.dn.db-ns.btn-close-popup.pointer.absolute {
    visibility: hidden;
}
#upload_widget_opener {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .header {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    .title {
        float: none;
      display: block;
      text-align: left;
    }
  }
  
