#logo-container {
    font-family: 'Pacifico', cursive;
    font-size: 3.1rem;
    margin-left: 300px;
}


.photoContainer {
    position: relative;
}

.placeholder-image {
    margin-top: 75px;
    border-radius: 50%;
    border: 1px solid grey;
    height: 380px;
    width: 380px;
    margin-left: 300px;
}

.btn {
    position: absolute;
    left: 49%;
    margin-left: -84px;
    bottom: 125px;
    border-radius: 8px;

}
.container {
    zoom: 89%;
}

.otherAttributes {
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid grey;
    margin-bottom: 25px;
    text-align: left;
    height: 150px;
    width: 100%;
}

footer {
    text-align: center;
    background-color: #b2dfdb;
    padding-bottom: 15px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

}




body {
    background-image: url('./images/dark-grey-terrazzo.png');
 }

main {
    flex: 1 0 auto;
}

h1 {
    font-size: 2.2rem;
    margin: 1.8rem 0 1.68rem 0;
    margin-left: 25px;    
}

h2 {
    font-size: 2rem;
    margin: 1.8rem 0 1.68rem 0;
    margin-left: 25px;
}

h3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    line-height: 102%;
    margin: 0.946667rem 9rem 0.168rem 7rem;
}

@media screen and (max-width: 980px) {
    .placeholder-image {
        margin-top: 50px;
        height: 350px;
        width: 325px;
    }

    #logo-container {
        left: 10%;
    }

    .moodContainer { 
        margin-top: 50px;
    }

    iframe {
        height: 280px;
    }

}

@media screen and (max-width: 768px) {
    .placeholder-image {
        margin-top: 35px;
        height: 250px;
        width: 250px;
    }

    #logo-container {
        left: 10%;
    }

    h3 {
        font-size: 1rem;
        margin: 0.946667rem 0rem 0.168rem 5rem;
    }

    .btn {
        margin-left: -77px;
        bottom: 85px;
    }

    .moodContainer { 
        margin-top: 45px;
    }

    iframe {
        margin-top: 40px;
        height: 100px;
    }
}

@media screen and (max-width: 640px) {
    .placeholder-image {
        margin-top: 25px;
        height: 200px;
        width: 200px;
    }

    #logo-container {
        left: 10%;
    }

    h3 {
        font-size: 0.75rem;
        margin: 0.946667rem 0rem 5.168rem 4rem;
    }

    .photoClick {
        margin-bottom: 0;
    }

    .moodContainer { 
        margin-top: 25px;
    }

    iframe {
        margin-top: 30px;
        height: 100px;
    }

}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #logo-container {
        left: 20%;
        font-size: 2.5rem;
        margin-top: 8px;
    }

    #getEmotion,
    #contactUs {
        font-size: 17px;
        margin-top: 13px;
    }
    
    .placeholder-image {
        margin: 30px;
        height: 290px;
        width: 290px;
    }

    .btn {
        position: absolute;
        bottom: 256px;
    }

    h3 {
        font-size: 1rem;
    }

    .moodContainer {
        margin-top: 300px;
    }
}